body {
    text-align: center;
}

.btn {
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 6px solid black;
    margin: 2.5rem;
}

.btn_container {
    display: flex;
    justify-content: center;
}

.yellow {
    background-color: rgb(238, 238, 106);
}

.red {
    background-color: rgb(231, 98, 98);
}

.purple {
    background-color: rgb(100, 61, 100);
}

.green {
    background-color: rgb(128, 241, 128);
}

.flash {
    background-color: white;
}

.userflash {
    background-color: green;
}